{% extends 'songs/base.html' %}

{% block body %}
{% if songs %}

<div class="container mt-5">
  <h1 class="text-center" style="text-decoration: underline;">My Songs</h1>
</div>
<div class="album p-5">

  <div class="row">
    {% for song in songs %}
    <div class="col-md-4 col-lg-3 px-2">
      <div class="card mb-4 box-shadow w-20">
        <img class="card-img-top" src="{{ song.image }}" alt="Card image cap"  width="100" height="200">
        <div class="card-body" width="100" height="200">
          <h3 class="card-title" style="color: black; font-family: 'Josefin Slab', serif; font-size: 22px; font-weight: bold;">Song: {{ song.title }}</h3>
          <p class="card-subtitle" style="color: black; font-family: 'Josefin Slab', serif; font-size: 22px; font-weight: semi-bold;">Artist: {{ song.artist }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group ml-2">
              <button type="button" class="btn btn-lg" style="border-color: #E1A999;"><a href="{% url 'songs:detail' song.id %}"  style="color: #D47B64;">View</a></button>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% else %}
  <p>No Songs Available</p>
{% endif %}
{% endblock %}
